*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.section {
  width: 100%;
}

.container {
  max-width: 1480px;
  margin: 0 auto;
  /* border: solid; */
}

html,
body {
  height: 100%;
  background: #fff;
  font-family: "Montserrat", sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  font-family: "Montserrat", sans-serif;
}

main {
  flex-grow: 1;
}

/* ---- section card-information-------- */

.palka {
  border: 2px solid #e3e3e3;
  width: 49px;
  height: 0px;
  transform: rotate(-90deg);
}

.svg-text {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 45px;
  gap: 30px;
  margin: 30px;
}

.text-information_1 {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 18px;
  line-height: 150%;
  color: #000;
}

.text-information_2 {
  font-family: var(--font-family);
  font-weight: 400x;
  font-size: 18px;
  line-height: 150%;
  color: #000;
  opacity: 0.7;
  margin: 30px;
}

.block-information-text {
  width: 473px;
  height: 408px;
  box-shadow: 0 20px 45px 1px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
}

.block_card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}

/* ------ section asked_questions ------ */

.block-asked_questions {
  display: flex;
  flex-direction: column;
  gap: 55px;
  align-items: center;
  margin-bottom: 120px;
}

.text-asked_questions {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 42px;
  line-height: 150%;
  letter-spacing: 0.03em;
  color: #000;
}

.text-asked-questions {
  display: flex;
  justify-content: center;
}

.text-block-questions {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 17px;
}

.questions {
  display: flex;
  align-items: center;
  gap: 50px;
  /* height: 130px; */
  box-shadow: 0 10px 30px 1px rgba(0, 0, 0, 0.15);
  background: #fff;
  padding: 40px;
}

.text_questions {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 18px;
  line-height: 150%;
  letter-spacing: 0.03em;
  color: #000;
}

.text-questions {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.text-answer {
  width: 685px;
  height: 420px;
  box-shadow: 2px 4px 11px 1px rgba(0, 0, 0, 0.25),
    2px 4px 11px 1px rgba(0, 0, 0, 0.25);
  background: #0a51cb;
  padding: 60px 50px;
}

.white_palka {
  border: 4px solid #fff;
  width: 65px;
  height: 0px;
  margin: 50px 0px;
}

.text_answer {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 36px;
  line-height: 120%;
  letter-spacing: 0.03em;
  color: #fff;
}

.text-answer-money {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  letter-spacing: 0.03em;
  color: #fff;
}

.bold-text-answer {
  font-weight: 700;
}

.blue-palka {
  border: 3px solid #0a51cb;
  width: 65px;
  height: 0px;
  margin: 24px 0px 0px 91px;
}

.answer-panel {
  overflow: hidden;
  max-height: 0;
  transition: max-height 0.4s ease, opacity 0.3s ease;
  padding-left: 40px;
  padding-top: 10px;
  font-size: 16px;
  color: #555;
}

.question-all.active .answer-panel {
  max-height: 200px;
  opacity: 1;
  background-color: #fff;
}

.arrow-down {
  transition: transform 0.1s ease;
  margin-left: auto;
}

.question-all.active .arrow-down {
  transform: rotate(180deg);
}

/* ------section footer----- */

.footer-information {
  display: flex;
  background: #0c0c0c;
  flex-direction: row;
  justify-content: space-between;
  margin: 112px 0px;
}

.text-information-footer {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  letter-spacing: 0.03em;
  color: rgba(239, 239, 239, 0.5);

  width: 404px;
  height: 162px;
}

.text-contact {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 24px;
  line-height: 150%;
  letter-spacing: 0.03em;
  text-transform: capitalize;
  color: #fff;
}

.phone,
.email,
.text-time-contact {
  text-decoration: none;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  letter-spacing: 0.03em;
  color: #efefef;
}

.email,
.text-time-bold {
  font-weight: 700;
}

.footer-palka {
  border: 1px solid #efefef;
  height: 0px;
}

.text-contact-footer {
  display: flex;
  flex-direction: column;
  gap: 23px;
}

.footer-navigation {
  display: flex;
  gap: 23px;
  flex-direction: row;
}

.text-navigation {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.03em;
  color: #efefef;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

a {
  text-decoration: none;
  color: #efefef;
}

.text-navigation-footer {
  display: flex;
  flex-direction: column;
  gap: 26px;
}

footer {
  background-color: #0c0c0c;
}

/* ------section we_working ---------- */

.block_we_working {
  display: flex;
  flex-direction: row;
  gap: 100px;
}

.text-work {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 42px;
  line-height: 120%;
  letter-spacing: 0.03em;
  color: #141b46;
}

.text-work-information {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 18px;
  line-height: 140%;
  color: #000;
  opacity: 0.7;
}

.button-registration {
  border-radius: 36px;
  width: 236px;
  border-style: none;
  padding: 18px 40px;
  background: #0a51cb;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 18px;
  line-height: 140%;
  letter-spacing: 0.03em;
  text-align: center;
  color: #fff;
}

.button-registration:hover {
  background: #003186;
}

.text-we-work {
  display: flex;
  flex-direction: column;
  gap: 30px;
  justify-content: center;
}

.img-work {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  margin-bottom: 100px;
}

.div1 {
  grid-area: 1 / 1 / 2 / 2;
  background: #194dd2;
  border-radius: 5px;
  display: flex;
  padding: 174px 7px 45px 31px;
}
.div2 {
  grid-area: 1 / 2 / 2 / 3;
  border-radius: 5px;
  width: 302px;
  height: 327px;
}
.div3 {
  grid-area: 2 / 1 / 3 / 3;
  border-radius: 5px;
  width: 629px;
  height: 201px;
}

.text-div1 {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 42px;
  line-height: 129%;
  letter-spacing: 0.03em;
  color: #fff;
  align-items: center;
}

/*----section  */

.img-background {
  background-image: url("../img/Rectangle\ 64.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.button_join {
  border-radius: 36px;
  border-style: none;
  padding: 16px 32px;
  background: #0a51cb;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 18px;
  line-height: 162%;
  letter-spacing: 0.03em;
  text-align: center;
  color: #fff;
}

.button_join:hover {
  background-color: #003186;
}

.button_calculator {
  border: 2px solid #fff;
  border-radius: 36px;
  width: 300px;
  padding: 16px 34px;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 18px;
  line-height: 162%;
  letter-spacing: 0.03em;
  color: #fff;
  background-color: #e3e3e300;
}

.button_calculator:hover {
  background-color: #e3e3e32f;
}

.two-button {
  display: flex;
  flex-direction: row;
  gap: 24px;
  justify-content: center;
  align-items: center;
}

.block_statistics {
  height: 728px;
}

.text-statistics {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 42px;
  line-height: 129%;
  letter-spacing: 0.03em;
  text-align: center;
  color: #fff;
}

.palka_belay {
  border: 3px solid #fff;
  width: 65px;
  height: 0px;
}

.text-statistics-palka {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

.text-number {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 36px;
  line-height: 150%;
  letter-spacing: 0.03em;
  color: #fff;
  text-align: center;
  margin-bottom: 10px;
}

.palka_belay-long {
  border: 2px solid #fff;
  width: 100%;
  height: 0px;
  margin: 10px 0;
}

.text-statistics-information {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  letter-spacing: 0.03em;
  color: #fff;
}

.block_number {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.block-statistics-number {
  display: flex;
  flex-direction: row;
  gap: 80px;
}

.block_statistics {
  display: flex;
  flex-direction: column;
  gap: 105px;
  align-items: center;
  justify-content: center;
}

/* ---- header ----- */

.button-start {
  padding: 380px 94px;
  background: #194dd2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 62px;
  align-items: center;
}

.button-start:hover {
  background: #002991;
}

.button-text-header {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 36px;
  line-height: 140%;
  letter-spacing: 0.03em;
  text-align: center;
  color: #fff;
  background-color: #e3e3e300;
  border-style: none;
  width: 282px;
}

.arrow {
  /* stroke-width: 5px; */
  stroke: #fff;
}

.a_header {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 18px;
  line-height: 162%;
  letter-spacing: 0.03em;
  color: #fff;
}

.menu_header {
  display: flex;
  background: #000;
  padding: 45px 112px;
  gap: 60px;
  align-items: center;
  justify-content: space-around;
}

.button_login_logout {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 18px;
  line-height: 162%;
  letter-spacing: 0.03em;
  color: #fff;
  background: #194dd2;
  padding: 44px 74px;
  border-style: none;
}

.button_login_logout-2 {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 18px;
  line-height: 162%;
  letter-spacing: 0.03em;
  color: #fff;
  background: #194dd2;
  padding: 44px 74px;
  border-style: none;
}

.button_login_logout:hover {
  background: #002991;
}

.burger-button {
  display: none;
}

.menu-header {
  display: flex;
  flex-direction: column;
}

.container_header {
  display: flex;
  justify-content: center;
  max-width: 1920px;
  margin: 0 auto;
  /* border: solid; */
  margin-bottom: 80px;
}

.menu-information {
  display: flex;
  flex-direction: column;
}

.menu-text-information-1 {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 52px;
  line-height: 150%;
  letter-spacing: 0.03em;
  color: #fff;

  margin: 124px 86px 26px 112px;
}

.menu-text-information-2 {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 22px;
  line-height: 162%;
  letter-spacing: 0.03em;
  color: #fff;

  margin: 26px 186px 67px 112px;
}

.menu-button {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 18px;
  line-height: 162%;
  letter-spacing: 0.03em;
  color: #fff;
  border: 2px solid #fff;
  border-radius: 36px;
  background-color: #e3e3e300;
  padding: 16px 39px;
  margin: 0 124px 160px 124px;
  width: 310px;
}

.menu-button:hover {
  background-color: #e3e3e344;
}

.img_background {
  background-image: url(../img/Rectangle\ 55.png);

  display: flex;
  background-size: 100% 100%;
}

.circle {
  border-radius: 100%;
  fill: #fff;
  padding: 310px 220px 0 110px;
}

.button_and_circle {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.burger-menu {
  display: none;
  cursor: pointer;
  padding: 20px;
}

/* ------- container_piece ------- */

.container_piece {
  display: flex;
  justify-content: center;
  max-width: 1920px;
  margin: 0 auto;
  /* border: solid; */
  margin-top: 114px;
  margin-bottom: 114px;
  background: #1a1a1a;
}

.text-invest {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 42px;
  line-height: 120%;
  letter-spacing: 0.03em;
  color: #fff;
}

.invest-palka {
  border: 3px solid #fff;
  width: 58px;
  height: 0px;
}

.button-invest {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 18px;
  line-height: 162%;
  letter-spacing: 0.03em;
  color: #fff;
  border-radius: 36px;
  width: 300px;
  background: #194dd2;
  padding: 16px 44px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border-style: none;
}

.button-invest:hover {
  background: #002991;
}

.invest-information {
  display: flex;
  flex-direction: column;
  gap: 66px;
  margin: 206px 112px;
}

.text-invest-1 {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 18px;
  line-height: 150%;
  color: #fff;
}

.text-invest-2 {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  color: #fff;
}

.text_invest {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 0 180px 0 0;
}

.circle-invest-1 {
  background-color: #fff;
  border-radius: 100%;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 36px;
  line-height: 150%;
  text-align: center;
  color: #194dd2;
  padding: 16px 36px;
  z-index: 1;
}

.text-invest-information {
  display: flex;
  gap: 38px;
  align-items: center;
}

.circle-invest-2 {
  border-radius: 100%;
  background-color: #fff;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 36px;
  line-height: 150%;
  text-align: center;
  color: #194dd2;
  padding: 16px 32px;
  z-index: 1;
}

.accordion-hover-item {
  position: relative;
}

.text_invest {
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  transition: all 0.3s ease-out;
  background: transparent;
}

.accordion-hover-item:hover .text_invest,
.accordion-hover-item:focus-within .text_invest {
  opacity: 1;
  max-height: 200px;
}

.accordion-hover-item.active .circle-invest {
  background-color: #002991;
  color: #fff;
  transform: scale(1.1);
}

.accordion-hover-item.active .text_invest {
  opacity: 1;
  max-height: 200px;
}

.accordion-hover-item:hover .circle-invest,
.accordion-hover-item:focus .circle-invest {
  background-color: #002991; 
  color: #fff;
  transform: scale(1.1);
}

.accordion-hover-item:focus .circle-invest {
  background-color: #002991;
  color: #fff;
  transform: scale(1.1);
}

.circle-invest-3 {
  border-radius: 100%;
  background-color: #fff;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 36px;
  line-height: 150%;
  text-align: center;
  color: #194dd2;
  padding: 16px 32px;
  z-index: 1;
}

.circle-and-text {
  display: flex;
  flex-direction: column;
  gap: 48px;
  justify-content: center;
}

.timeline {
  position: relative;
  padding-left: 50px;
  display: flex;
  flex-direction: column;
  gap: 48px;
}

.timeline::before {
  content: "";
  position: absolute;
  top: -100px;
  height: 596px;
  bottom: 0;
  left: 92px;
  width: 3px;
  background-image: repeating-linear-gradient(
    transparent,
    transparent 10px,
    #646464 10px,
    #646464 20px
  );
  -webkit-mask-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 1) 10%,
    rgba(0, 0, 0, 1) 90%,
    rgba(0, 0, 0, 0) 100%
  );
  mask-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 1) 10%,
    rgba(0, 0, 0, 1) 90%,
    rgba(0, 0, 0, 0) 100%
  );
}

@media (max-width: 1600px) {
  .menu_header {
    padding: 35px 80px;
    gap: 40px;
  }

  .menu-text-information-1 {
    font-size: 44px;
    margin: 100px 60px 20px 80px;
  }

  .menu-text-information-2 {
    font-size: 18px;
    margin: 20px 140px 50px 80px;
  }

  .menu-button {
    margin: 0 80px 120px 80px;
  }

  .button_login_logout {
    padding: 24px 60px;
    font-size: 16px;
  }

  .button-text-header {
    font-size: 30px;
    width: 240px;
  }

  .button-start {
    padding: 320px 70px;
    gap: 50px;
  }

  .circle {
    padding: 250px 180px 0 90px;
  }

  .text_invest {
    margin-right: 50px;
  }

  .timeline::before {
    top: -28px;
  }

  .invest-information {
    margin: 176px 78px;
  }
}

@media (max-width: 1400px) {
  .menu_header {
    padding: 30px 60px;
    gap: 30px;
  }

  .menu-text-information-1 {
    font-size: 38px;
    margin: 80px 40px 15px 60px;
  }

  .menu-text-information-2 {
    font-size: 16px;
    margin: 15px 100px 40px 60px;
  }

  .menu-button {
    margin: 0 60px 100px 60px;
    padding: 14px 32px;
    font-size: 16px;
  }

  .button_login_logout {
    padding: 18px 50px;
    font-size: 16px;
  }

  .button-text-header {
    font-size: 26px;
    width: 220px;
  }

  .button-start {
    padding: 280px 60px;
    gap: 40px;
  }

  .circle {
    padding: 200px 150px 0 70px;
  }

  .block_we_working {
    display: flex;
    gap: 50px;
    margin: 0 5px;
  }

  .palka {
    border: 2px solid #e3e3e3;
    width: 49px;
    height: 0px;
    transform: rotate(-90deg);
  }

  .svg-text {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 45px;
    gap: 30px;
    margin: 30px;
  }

  .text-information_1 {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 18px;
    line-height: 150%;
    color: #000;
  }

  .text-information_2 {
    font-family: var(--font-family);
    font-weight: 400x;
    font-size: 18px;
    line-height: 150%;
    color: #000;
    opacity: 0.7;
    margin: 30px;
  }

  .block-information-text {
    width: 450px;
    height: 408px;
    box-shadow: 0 20px 45px 1px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
  }

  .block_card {
    margin: 0 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
  }

  .invest-information {
    margin: 160px 70px;
    gap: 40px;
  }

  .text-invest {
    font-size: 36px;
  }

  .text_invest {
    margin-right: 50px;
  }

  .text-invest-1,
  .text-invest-2 {
    font-size: 16px;
  }

  .circle-invest-1,
  .circle-invest-2,
  .circle-invest-3 {
    padding: 12px 28px;
    font-size: 30px;
  }

  .text-invest-information {
    gap: 24px;
    align-items: flex-start;
  }

  .timeline::before {
    left: 84px;
    top: -82px;
  }

  .button-invest {
    width: 260px;
    padding: 14px 36px;
    font-size: 16px;
  }

  .block-asked_questions {
    margin: 0 5px 120px 5px;
  }

  .footer-information {
    margin: 112px 14px;
  }

  .block_statistics {
    height: auto;
    padding: 60px 0;
  }

  .text-statistics {
    font-size: 36px;
  }

  .palka_belay {
    width: 50px;
  }

  .text-statistics-palka {
    gap: 18px;
  }

  .text-number {
    font-size: 52px;
  }

  .palka_belay-long {
    width: 240px;
  }

  .text-statistics-information {
    font-size: 16px;
  }

  .block_number {
    gap: 20px;
  }

  .block-statistics-number {
    flex-direction: row;
    gap: 40px;
    flex-wrap: wrap;
    justify-content: center;
  }

  .two-button {
    flex-direction: row;
    align-items: center;
    gap: 20px;
  }

  .block_statistics {
    gap: 60px;
  }
}

@media (max-width: 1200px) {
  .menu_header {
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.9);
  }

  .a_header {
    font-size: 16px;
  }

  .menu-text-information-1 {
    font-size: 36px;
    margin: 80px 40px 15px 60px;
  }

  .menu-text-information-2 {
    font-size: 16px;
    margin: 15px 80px 40px 60px;
  }

  .menu-button {
    margin: 0 60px 80px 60px;
  }

  .button_login_logout {
    padding: 20px 40px;
    font-size: 16px;
  }

  .button-text-header {
    font-size: 24px;
    width: 200px;
  }

  .button-start {
    padding: 250px 50px;
    gap: 30px;
  }

  .circle {
    padding: 180px 100px 0 60px;
  }

  .menu-header:not(.active) .menu_header {
    display: none;
  }

  .burger-menu {
    display: block;
    position: absolute;
    margin: 0 38px;
    transition: transform 0.3s ease;
  }

  .menu-header.active .menu_header {
    display: flex;
    flex-direction: column;
    background: rgb(74 72 72 / 95%);
    margin: 16px 60px;
    border-radius: 8px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
    position: absolute;
    top: 60px;
    min-width: 200px;
  }

  .burger-button {
    display: block;
    margin-top: auto; 
    padding: 14px;
    width: calc(100% - 40px); 
    margin-left: 20px;
    margin-right: 20px;
    font-size: 16px;
    border-radius: 8px;
    background-color: #194dd2;
    color: #fff;
    border: none;
  }

  .button_login_logout,
  .circle {
    display: none;
  }

  .block_card {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .block-information-text {
    width: 380px;
    height: 322px;
    padding: 20px;
  }

  .svg-text {
    margin: 10px;
    gap: 3px;
  }

  .text-information_1 {
    font-size: 16px;
  }

  .text-information_2 {
    font-size: 16px;
    margin: 10px;
  }

  .palka {
    width: 40px;
  }

  .container_piece {
    flex-direction: column;
    align-items: center;
  }

  .invest-information {
    margin: 40px 0 60px;
    gap: 20px;
    align-items: center;
  }

  .text-invest {
    font-size: 32px;
  }

  .invest-palka {
    width: 50px;
  }

  .button-invest {
    width: auto;
    min-width: 220px;
    padding: 14px 30px;
    font-size: 16px;
  }

  .circle-and-text {
    width: 100%;
    max-width: 800px;
  }

  .timeline::before {
    left: 84px;
    top: -26px;
    height: 100%;
  }

  .text-invest-information {
    flex-direction: row;
    align-items: center;
    margin-bottom: 50px;
  }

  /* .circle-invest-1,
  .circle-invest-2,
  .circle-invest-3 {
    font-size: 28px;
    padding: 10px 24px;
  } */

  .text_invest {
    margin-right: 0;
  }

  .text-invest-1,
  .text-invest-2 {
    font-size: 16px;
  }

  .img-block {
    display: none;
  }

  .text-answer {
    height: 468px;
  }
}

@media (max-width: 1024px) {
  .footer-information {
    display: flex;
    flex-direction: column;
    gap: 40px;
  }

  .block_we_working {
    flex-direction: column;
  }

  .img-work {
    display: none;
  }

  .div3 {
    grid-area: 1 / -1 / 1 / 3;
    display: none;
  }

  .text-we-work {
    align-items: center;
    margin-bottom: 60px;
  }

  .block_card {
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
  }

  .block-information-text {
    width: 320px;
    height: 300px;
    padding: 16px;
  }

  .svg-text {
    margin: 12px;
    gap: 12px;
  }

  .text-information_1 {
    font-size: 15px;
  }

  .text-information_2 {
    font-size: 14px;
    margin: 12px;
  }

  .palka {
    width: 36px;
  }

  .text-work-information {
    margin: 0 16px;
  }

  .text-asked_questions {
    font-size: 32px;
  }

  .blue-palka {
    margin-left: 0;
    width: 50px;
  }

  .text-block-questions {
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;
  }

  .text-questions {
    width: 100%;
  }

  .questions {
    flex-direction: row;
    padding: 20px;
    gap: 20px;
    min-height: 80px;
  }

  .questions img {
    width: 30px;
    height: auto;
  }

  .text_questions {
    font-size: 16px;
    line-height: 140%;
    flex-grow: 1;
  }

  .questions svg {
    margin-left: auto;
  }

  .text-answer {
    width: 100%;
    max-width: 100%;
    height: auto;
    padding: 30px 20px;
  }

  .white_palka {
    width: 50px;
    margin: 30px 0;
  }

  .text_answer {
    font-size: 24px;
    line-height: 140%;
  }

  .text-answer-money {
    font-size: 16px;
  }

  .block-asked_questions {
    gap: 30px;
    margin-bottom: 60px;
  }

  .text-work {
    margin: 0 16px;
  }
}

@media (max-width: 480px) {
  .container_header {
    flex-direction: column;
  }

  .button-start {
    padding: 10px;
    gap: 15px;
    flex-direction: row;
  }

  .button-text-header {
    font-size: 16px;
  }

  .arrow {
    stroke: none;
  }

  .text-invest {
    margin: 0 58px;
  }

  .two-button {
    flex-direction: column;
  }
}


